<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SQLServerConnection" connectionString="Data Source = ICS-LT-5HK96V3\SQLEXPRESS; Initial Catalog = RailwayReservation; user id = sa; password = Thamarai2514@#"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>