

@{
                ViewBag.Title = "Conditions of Use";

                Layout = "~/Views/Shared/_InfoLayout.cshtml";

}

<h2>Conditions of Use</h2>
<p>

    Welcome to IKart. By using our services, you agree to the following terms and conditions...
</p>

<ul>
    <li>Do not misuse the platform or engage in fraudulent activities.</li>
    <li>All purchases are subject to our return and refund policies.</li>
</ul>


